# variable

Creating a text variable for the first time using the `=` operator

In [ ]:
name = "Bob"

More variables of types: `int`, `float`, and `boolean`

In [ ]:
age = 22
height = 1.82
is_married = True

print(name, age, height, is_married)

Bob 22 1.82 True

Editing variables, including changing the type of the stored value

In [ ]:
age = 36
is_married = "yes"

print(name, age, height, is_married)

Bob 36 1.82 yes

Restrictions and rules for choosing variable names

In [ ]:
name = "Alice"
Name = "Bob"
_name = "Charlie"
name1 = "Dave"
name1_ = "Eve"

print(name, Name, _name, name1, name1_)

Alice Bob Charlie Dave Eve

The built-in `type` function returning the type of a variable

In [ ]:
print(type(name))

<class 'str'>

# type int

Declaring and assigning a variable of type `int`

In [ ]:
number = 10

print(number, type(number))

10 <class 'int'>

Basic mathematical operations on `int` numbers: `*`, `+`, `-`, `/`

In [ ]:
print(2 + 2)
print(4 - 3)
print(2 * 3)
print(4 / 2)

4
1
6
2.0

Integer division operation `//`

In [ ]:
print(4 // 2)

2

# type float

Declaring and assigning a variable of type `flaot`

In [ ]:
number1 = 10.
number2 = 10.2

print(number1, type(number1))
print(number2, type(number2))

10.0 <class 'float'>
10.2 <class 'float'>

Basic mathematical operations on `float` numbers: `*`, `+`, `-`, `/`

In [ ]:
print(2.0 + 2.0)
print(4.0 - 3.0)
print(2.0 * 3.0)
print(4.0 / 2.0)

4.0
1.0
6.0
2.0

# type bool

Declaring and assigning a variable of type `bool`

In [ ]:
variable1 = True
variable2 = False

print(variable1, type(variable1))
print(variable2, type(variable2))

True <class 'bool'>
False <class 'bool'>

Basic logical operations on `bool` variables

In [ ]:
print(variable1 and variable2)
print(variable1 or variable2)
print(not variable1)

False
True
False

# type str

Declaring and assigning a variable of type `str`

In [ ]:
text = "python 3.13"

print(text, type(text))

python 3.13 <class 'str'>

The role of so-called "special characters": `\n`, `\t`, `\`

In [ ]:
print("Hello \n world")
print("Hello \t world")

Hello
 world
Hello 	 world

Different ways to create strings: `(')`, `(")`, `(''')`, `(""")`

In [ ]:
print('text1', "text2", '''text3''', """text4""")

text1 text2 text3 text4

Creating a string with a line break

In [ ]:
print('''This is text 
consisting of 
multiple lines.''')

print("""Like this 
one here.""")

This is text
consisting of
multiple lines.
Like this
one here.

Concatenating strings using the `+` operator

In [ ]:
print("Hello " + "world")

Hello world

Repeating strings using the `*` operator

In [ ]:
print("Hello " * 3)

Hello Hello Hello

Accessing string characters using square brackets `[]`

In [5]:
text = "Python"
print(text[0])
print(text[1:5])
print(text[-5:-1])
print(text[-1])

P
ytho
ytho
n

Length of a string using the `len()` function

In [ ]:
print(len(text))

6

Checking for substrings in strings using the operator `in`:

In [ ]:
print("Pyt" in text)

True

Some useful string functions:  
- `upper()`: Returns the string converted to uppercase letters.  
- `lower()`: Returns the string converted to lowercase letters.  
- `strip()`: Removes whitespace from the beginning and end of the string.  
- `replace(old, new)`: Replaces all occurrences of `old` with `new` in the string.  
- `split(separator)`: Splits the string into a list of elements using `separator` as the delimiter.
- `join(iterable)`: Combines elements of an iterable (like a list) into a single string, using the string itâ€™s called on as a separator.
- `find(substring)`: Returns the index of the first occurrence of the substring in the string. If not found, it returns -1.

In [1]:
text = " Python, is great! "
print(text.upper())
print(text.lower())
print(text.strip())
print(text.replace("Python", "Programming"))
print(text.split(","))
print(" ".join(["Python", "is great!"]))
print(text.find("is"))

 PYTHON, IS GREAT!
 python, is great!
Python, is great!
 Programming, is great!
[' Python', ' is great! ']
Python is great!
9